html {
	scrollbar-3dlight-color:#CDCDCD;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-base-color:#EFEFEF;
	scrollbar-darkshadow-color:#CDCDCD;
	scrollbar-face-color:#CDCDCD;
	scrollbar-highlight-color:#EFEFEF;
	scrollbar-shadow-color:#CDCDCD;
}